{% block content %}
    <h1 class="title">{{ 'dreams') }}</h1>
    <ul id="dream-list">
        {% for dream in dreams %}
            <li>
                <a href="{{ path('#', {'id': dream.id}) }}">{{ dream.title }}</a>

            </li>
        {% else %}

        {% endfor %}
    </ul>

{% endblock %}
